<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accountNum</key>
	<string>111-111-1111</string>
	<key>owner</key>
	<string>이름없음</string>
	<key>bankName</key>
	<string>은행없음</string>
	<key>balance</key>
	<integer>0</integer>
</dict>
</plist>
